<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add a new Post</title>
  <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/add}" method="post" th:object="${post}">
  <label for="title">Add a title to your post:</label> <br>
  <input
      type="text"
      name="title"
      id="title"
      th:field="*{title}"
      required
  />
  <br>

  <label for="url">Please provide the URL link:</label> <br>
  <input
      type="text"
      name="url"
      id="url"
      th:field="*{url}"
      required
  />

  <button type="submit">Save</button>
</form>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>