<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ADD A TODO ELEMENT</title>
</head>
<body>
<form th:action="@{/todo/add}" method="post" th:object="${todo}">
  <label for="title">Title</label>
  <input
      type="text"
      name="title"
      id="title"
      th:field="*{title}"
      required
  />
  <br>

  <label for="urgent">Is Urgent</label>
  <input
      type="checkbox"
      name="urgent"
      id="urgent"
      th:field="*{urgent}"
  />
  <label for="done">Done</label>
  <input
      type="checkbox"
      name="done"
      id="done"
      th:field="*{done}"
  />
  <br>

  <button type="submit">Save</button>
</form>

</body>
</html>